@model StudentManagement.Core.Model.StudentModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a10c7f6efa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <title>Adding details</title>
    <style>
        .card {
            width: 100%;
            height: 100%;
            margin-right: 80%;
            margin-top: 10%;
            background-size: cover;
            border-color: black;
            box-shadow: 5px 5px;
        }

        form {
            background-color: transparent;
        }

        button {
            color:white;
        }

        .error {
            color: red;
        }

        #job {
            color: black;
        }

        option {
            color: black;
            font-style: oblique;
        }

        select {
            background: transparent;
            border-radius: 20px;
            width: 260px;
            height: 35px;
            color: black;
            border-color: black;
            font-style: oblique;
            margin-left: 8px;
        }

        label {
            font-size: 100%;
        }
    </style>
</head>
@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @id = "start" }))
{
    <section class=" bg-image"
         style="background:linear-gradient(rgba(45,165,253,1) 3%, rgba(47,34,195,1) 100%);width:100%;height:200%;background-size:cover;">
        <div class="mask  align-items-center gradient-custom-3">
            <div class="row justify-content-center align-items-center ">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 ">
                            <h2 class="text-uppercase text-center mb-5" style="font-family:Times New Roman;font-weight: 900;">STUDENT DETAIL</h2>
                            <form id="myform">
                                @Html.HiddenFor(m=>m.StudentID,new{@id="studentid"})
                                <div id="clear">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label" style="font-style: oblique;">FIRST NAME<span style="color:red;">*</span></label>
                                    <i class="fa-solid fa-user" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control",@placeholder="Enter your Name",@id="name",@name="name",Style="border-radius:20px;border-color:black;background-color:Transparen;font-style: oblique;margin-left:10px;"})
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">LAST NAME</label>
                                    <i class="fa-solid fa-user" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control",@placeholder="Enter your last name",@id="age",@name="age",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">AGE<span style="color:red">*</span></label>
                                    <i class="fa-solid fa-cake-candles" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control",maxlength=2,@placeholder="Enter your age",@id="age",@name="age",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})

                                </div>
                                <div class="col-md-6 mt-1 ">
                                    <label for="inputEmail4" class="form-label" style="font-style: oblique;">GENDER</label>
                                    <i class="fa-solid fa-venus-mars" style="padding-top:10px;"></i>
                                    <div class="form-check mt-2" id="radio" name="gender">
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Male")Male</label>
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Female")Female</label>
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Other")Other</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">STANDARD<span style="color:red">*</span></label>
                                    <i class="fa-solid fa-book-open" style="padding-top:8px;"></i>
                                    <div class="course">
                                        @Html.DropDownListFor(m=>m.Standard, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="XI"},
                                    new SelectListItem{ Text="XII"},

                                    }, "Select List")
                                        @*   //</select>*@
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">DEPARTMENT<span style="color:red">*</span></label>
                                    <i class="fa-solid fa-graduation-cap" style="padding-top:8px;"></i>
                                    <div class="course">
                                        @Html.DropDownListFor(m=>m.Department, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="Computer Science & Maths"},
                                    new SelectListItem{ Text="Biology & Maths"},
                                    new SelectListItem{Text="Pure Science(Biology)"},
                                    new SelectListItem{Text="Arts"},
                                    new SelectListItem{Text="Vocational"}

                                    }, "Select List")
                                        @*   //</select>*@
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">LOCATION</label>
                                    <i class="fa-solid fa-location-dot" style="padding-top:8px;"></i>
                                    <div class="course">
                                        @Html.DropDownListFor(m=>m.Location, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="Erode"},
                                    new SelectListItem{ Text="Coimbatore"},
                                    new SelectListItem{Text="Chennai"},
                                    new SelectListItem{Text="Madurai"},
                                    new SelectListItem{Text="Salem"}

                                    }, "Select List")
                                        @*   //</select>*@
                                    </div>
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">YEAR OF JOINING</label>
                                    <i class="fa-solid fa-calendar-days" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(p => p.year,  new { @class="form-control",@placeholder = "yyyy",@type="date",@id="yearpicker", style="border-radius:20px;border-color:black;"})
                                   @* @Html.TextBoxFor(m => m.year, new {@class = "form-control",@placeholder="yyyy",@id="year",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})*@
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="margin-top:20px;">
                                        <button onclick="location.href='@Url.Action("List","Student")'" style="border-radius:15px;background:linear-gradient(rgba(45,165,253,1) 3%, rgba(47,34,195,1) 100%)">Back To List</button>
                                    </div>
                                    <div class="col mybutton" style="margin-top:20px;">
                                        <button id="clear" class="reset" type="button"name="reset" onclick="Clear()" style="border-radius:15px;background:linear-gradient(rgba(45,165,253,1) 3%, rgba(47,34,195,1) 100%)">Reset</button>
                                        <button id="button" style="border-radius:15px;background:linear-gradient(rgba(45,165,253,1) 3%, rgba(47,34,195,1) 100%)">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $().ready(function () {
        $("#start").validate({
            rules: {
                FirstName: {
                    required: true,
                    lettersonly: true,
                },
                Age: {
                    required: true,
                    number: true,
                    digits:true,
                },
                Department: {
                    required: true,
                },
                Standard: {
                    required: true,
                },
            },
            messages:
            {
                FirstName: {
                    required: " Please enter a Name",
                },
                Age: {
                    required: " Please enter your age",
                    digits:"only numbers are allowed",
                },
                Department: {
                    required: "Select your department",
                },
                Standard: {
                    required: "Select your standard",
                },
            },
        });
    });
    var id = $("#studentid").val();
    if (id != 0) {
        $("#button").html("Update");//To change the text of button
    }
    function Clear() {
        $("#clear").find("select,input:not(:radio)").val("");
        $('input:radio').prop("checked", false);
        }
</script>












